body {
  /*display: flex;*/
  background-image: url('https://wallpaperscraft.com/image/fur_wool_hair_long_hair_18582_1920x1080.jpg');
}
h1 {
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 3em;
  font-family: 'Underdog', cursive;
}
.header{
  display: flex;
  justify-content: center;
}
.main{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
}
.form{
  width: 30%;
  margin-top: 5em;
}

input {
  width: 100%;
  font-size: 2em;
}
button {
  margin: 2em 0 0 0;
  font-size: 2em;
}


.quote{
  display: flex;
  justify-content: center;
  width: 60%;
}

.dogPic {
  width: 100%;
}
.puppyPic {
}

p {
  padding: 10em 2em 0 2em;
  color: white;
  font-family: cursive;
  font-size: 2em;
  min-height: 600px;
  text-shadow: 2px 2px 3px black, -2px -2px 3px black, 2px -2px 3px black, -2px 2px 3px black;
}
